.NavMenu {
    flex-shrink: 0;
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: #61dafb;
}


nav a {
    color: #282c34;
    padding-right: calc(5px + 2vmin);
    padding-left: calc(5px + 2vmin);
}